header#main-header{
    background: #fff;
    height: 72px;
    border-bottom: 1px solid #DDD;
}

header#main-header .header-content {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    height: 72px;
    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header#main-header .header-content .header-navigation {
    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header#main-header .header-content .header-navigation a{
    margin-right: 25px;
}

header#main-header .header-content .header-navigation .logout {
    height: 23px;
    width: 23px;
}